@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open_sans.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/open_sans.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans.woff2") format("woff2"), url("../fonts/open_sans.woff") format("woff"), url("../fonts/open_sans.ttf") format("truetype"), url("../fonts/open_sans.svg#open_sans") format("svg"); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/open_sans_semibold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/open_sans_semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/open_sans_semibold.woff2") format("woff2"), url("../fonts/open_sans_semibold.woff") format("woff"), url("../fonts/open_sans_semibold.ttf") format("truetype"), url("../fonts/open_sans_semibold.svg#open_sans_semibold") format("svg"); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "fakeSansRegular", sans-serif;
  src: url("fonts/fakeSans_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
.cards {
  padding: 27px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-bottom: 60px;
  max-width: 341px;
  display: flex;
  flex-direction: column;
  border: 0.3px solid #828282;
  border-radius: 16px;
}
.card:last-child {
  margin-bottom: 0;
}
.card-illustration {
  margin-bottom: 14px;
  position: relative;
}
.card-illustration__tag {
  padding: 8px 17px;
  left: 0;
  position: absolute;
  font-family: "Open Sans Semibold", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.card-illustration__tag_posTop {
  top: -1px;
  border-radius: 15px 0px 12px;
}
.card-illustration__tag_posIndented {
  top: 40px;
}
.card-illustration__tag_colorYellow {
  color: #3E3E3E;
  background-color: #FED74B;
}
.card-illustration__tag_colorPurple {
  color: #fff;
  background-color: #7553FF;
}
.card-illustration__tag_colorBlue {
  color: #fff;
  background-color: #099CE8;
}
.card-illustration__img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 14px 12px 18px;
}
.card-body-tourTime {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.card-body-tourTime__clockIcon {
  margin-right: 9px;
}
.card-body-tourTime__time {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #9E9E9E;
}
.card-body__title {
  margin-bottom: 10px;
  font-family: "Open Sans Semibold", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #404040;
}
.card-body-checks {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}
.card-body-checks-check {
  margin-bottom: 8px;
  display: flex;
  align-items: start;
}
.card-body-checks-check__checkmark {
  margin-right: 20px;
}
.card-body-checks-check__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4B4B4B;
}
.card-body-checks-check:last-child {
  margin-bottom: 0;
}
.card-body-checks-check-times {
  margin-left: 36px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card-body-checks-check-times__time {
  margin-right: 4px;
  padding: 3px 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
  background-color: #D9E8FF;
  border-radius: 11px;
  transition: color 0.16s, background-color 0.16s, box-shadow 0.16s, opacity 1s ease-in;
  cursor: pointer;
}
.card-body-checks-check-times__time_disabled {
  opacity: 0;
}
.card-body-checks-check-times__time:hover {
  color: #fff;
  background-color: #6BA6FF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.card-body-checks-check-times__time:last-child {
  margin-right: 0;
}
.card-body-checks-check-times__time:nth-child(n+5) {
  margin-top: 4px;
}
.card-body-checks-check-times__more {
  margin-right: 4px;
  padding: 3px 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
  background-color: #D9E8FF;
  border-radius: 11px;
  cursor: pointer;
  transition: color 0.16s, background-color 0.16s, box-shadow 0.16s ease-in;
}
.card-body-checks-check-times__more:hover {
  color: #fff;
  background-color: #6BA6FF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.card-body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-body-footer-prices {
  display: flex;
  flex-direction: column;
}
.card-body-footer-prices__price {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;
  color: #000;
}
.card-body-footer-prices__priceFromPier {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #000;
}
.card-body-footer__button {
  padding: 12px 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
  background-color: #FED74B;
  border: 0.5px solid #CBA500;
  border-radius: 20px;
  cursor: pointer;
}

.closest-cruise {
  flex-direction: column;
}
.closest-cruise-wrapper {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 992px) {
  .cards {
    padding: 67px 0;
  }
  .card {
    max-width: 1070px;
    flex-direction: row;
  }
  .card-illustration {
    width: 80%;
    margin-bottom: 0;
  }
  .card-illustration__tag {
    font-size: 16px;
  }
  .card-illustration__img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 16px 0px 0px 16px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .card-body-tourTime {
    order: 1;
  }
  .card-body-tourTime__time {
    font-size: 14px;
  }
  .card-body__title {
    order: 0;
    font-size: 26px;
    line-height: 34px;
  }
  .card-body-checks {
    order: 2;
  }
  .card-body-checks-check__text {
    font-size: 18px;
  }
  .card-body-checks-check-times {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .card-body-checks-check-times__time {
    font-size: 16px;
  }
  .card-body-checks-check-times__more {
    font-size: 16px;
  }
  .card-body-footer {
    order: 3;
    justify-content: start;
  }
  .card-body-footer-prices {
    margin-right: 13px;
  }
  .card-body-footer-prices__price {
    font-size: 36px;
  }
  .card-body-footer-prices__priceFromPier {
    margin-top: 4px;
    font-size: 16px;
  }
  .card-body-footer__button {
    font-size: 18px;
  }
  .closest-cruise {
    flex-direction: row;
  }
  .closest-cruise-wrapper {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .closest-cruise-wrapper p {
    white-space: nowrap;
  }
}/*# sourceMappingURL=styles.css.map */