@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/open_sans.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/open_sans.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/open_sans.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/open_sans.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/open_sans.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/open_sans.svg#open_sans') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Open Sans Semibold';
	src: url('../fonts/open_sans_semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/open_sans_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/open_sans_semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/open_sans_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/open_sans_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/open_sans_semibold.svg#open_sans_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'fakeSansRegular', sans-serif;
  src: url('fonts/fakeSans_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@mixin regularFont {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin semiboldFont {
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: 600;
}